<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.scissor.mobiledo"
        versionCode = "10"
        version     = "1.1.0">

    <name>MobileDo</name>

    <description>
        A simple to-do app
    </description>

    <author href="http://scissor.com" email="william-mobiledo@scissor.com">
        William Pietri
    </author>

    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>

</widget>